app = 'backend-rough-snow-3157'
primary_region = 'fra'

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command_timeout = 300

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1024mb'
  cpu_kind = 'shared'
  cpus = 1